/* Fuentes importadas */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Fuentes importadas */


/* Partes HTML */

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

header {
    background: none;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #eee4a8;
}

main {
    background: none;
}

footer {
    background: none;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #eee4a8;
    font-weight: 100;
    font-size: 20px;
}

sup {
    font-size: 8px;
}

span {
    font-weight: 800;
}

/* Partes HTML */


/* Contenedores */

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#all {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 57px;
    background-image: url(./images/grande.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#trans-container {
    background-color: rgba(76, 69, 66, 0.5);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(90, 89, 89, 0.5);
    box-shadow: 0 18px 200px -60px black;
    backdrop-filter: blur(5px);
}

/* Contenedores */


/* Elementos calculadora */

#calc-container {
    width: 240px;
    height: 505px;
    font-family: 'Roboto', sans-serif;
    background-color: #201a18;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(6, 6, 6);
    border-width: 6px;
}

#result-container {
    width: 223px;
    height: 200px;
    background-color: #3e2f29;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#division {
    letter-spacing: 1px;
}

#ac {
    font-size: 15px;
    color: #eee4a8; 
    background-color: #786f2a;
}

.button {
    font-family: 'Lato', sans-serif;
    font-weight: 550;
    font-size: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0;
    height: 50px;
    width: 50px;
    color: #ffdbcc;
    transition: 0.4s all;
}

.button {
    background-color: #2b211f;
}

#parentesis, #porcentaje, #division, #multiplicar, #restar, #sumar {
    background-color: #5c4033;
}

#igual {
    background-color: #723719;
}

.button:active, #parentesis:active, #porcentaje:active, #division:active, #multiplicar:active, #restar:active, #sumar:active {
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.5);
}

#ac:active, #igual:active {
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.574);
}

table {
    margin: 10px;
}

/* Elementos calculadora */


/* Responsive y esas mierdas */

@media only screen and (min-width: 320px) and (max-width: 424px) {
    #trans-container {
        width: 300px;
        height: 550px;
    }
    .calc-container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    #trans-container {
        width: 375px;
        height: 600px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #trans-container {
        height: 600px;
        min-width: 98vw;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1700px) {
    #trans-container {
        height: 680px;
        min-width: 98vw;
    }
}

@media only screen and (min-width: 1701px) {
    #trans-container {
        height: 580px;
        min-width: 98vw;
    }
}

/* Responsive y esas mierdas */